<ng-container *ngIf="characterList$ | async">
  <div class="feat-container">
    <div class="container-title">Star Wars Characters</div>
    <div class="search-box">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search..." (input)="onSearch($event)" />
    </div>
    <app-characters-list-results
      [charList]="allCharacters"
      [searchInput]="searchInput"
      (selectedChar)="onCharacterSelected($event)"
      [loading]="loading$ | async"
      [error]="error$ | async"
    ></app-characters-list-results>
  </div>
</ng-container>
<app-back-button (clicked)="goHome()">Back</app-back-button>
