.container {
  padding: 20px;

  &:hover {
    background-color: #cccccc;
    cursor: pointer;
  }

  & .title {
    color: black;
    font-size: 24px;
    padding-bottom: 8px;
  }

  & .crawl {
    color: #333333;
  }
}
