.toolbar {
  z-index: 6;
  position: sticky;
  top: 0;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 500;
  height: 40px;

  & img {
    cursor: pointer;
    margin-right: 10px;
    width: 30px;
  }
}

.background {
  min-height: 100%;
  color: #fff;
  background-image: url("../../assets/images/starWarsBack.jpg");
  background-size: 100%;
  background-size: cover;
}
