.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  & .title {
    padding-top: 60px;
    font-size: 40px;
    padding-bottom: 40px;
  }
}

.container-viewport {
  height: 300px;
  width: 70vw;
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  background-color: #eeeeee;
  opacity: 0.9;

  & .item {
    border-bottom: 1px solid black;
  }
}
