<ng-container *ngIf="moviesList$ | async as moviesList">
  <div class="feat-container">
    <div class="feat-title">Star Wars Movies</div>
    <cdk-virtual-scroll-viewport
      appendOnly
      itemSize="30"
      class="feat-viewport viewport-size"
    >
      <app-movie-list-item
        *ngFor="let movie of moviesList"
        [movie]="movie"
        (click)="onMovieSelected(movie.url)"
      >
      </app-movie-list-item>
    </cdk-virtual-scroll-viewport>
  </div>
</ng-container>
<app-back-button (clicked)="goHome()">Back</app-back-button>
