<ng-container *ngIf="moviesList$ | async as moviesList">
  <div class="feat-container">
    <div class="feat-title">Star Wars Movies</div>
    <cdk-virtual-scroll-viewport
      appendOnly
      itemSize="30"
      class="feat-viewport viewport-size"
    >
      <ng-container *ngIf="moviesList && moviesList.length > 0">
        <app-movie-list-item
          *ngFor="let movie of moviesList"
          [movie]="movie"
          (click)="onMovieSelected(movie.url)"
        >
        </app-movie-list-item>
      </ng-container>
      <ng-container *ngIf="loading$ | async">
        <div class="viewport-message">Loading...</div>
      </ng-container>
      <ng-container *ngIf="error$ | async as error">
        <div class="viewport-message">{{ error }}</div>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>
</ng-container>
<app-back-button (clicked)="goHome()">Back</app-back-button>
