.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  .container__title {
    padding-top: 60px;
    font-size: 40px;
    padding-bottom: 40px;
  }
}

.container-viewport {
  height: 300px;
  width: 400px;
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  background-color: #eeeeee;
  opacity: 0.9;

  & .content {
    padding: 24px;

    & .title {
      font-size: 24px;
      display: flex;
      justify-content: center;
    }

    & .about {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
    }

    & a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: black;
      cursor: default;
    }
  }

  .link {
    cursor: pointer;

    &:hover {
      color: green;
    }
  }
}
